#nav-main {
  max-height: 39px;
  padding: 5px 10px;
  display: flex;
  position: static;
  float: none;
  flex-flow: row nowrap;
  background-image: none;
  background-color: #232f3e;
  width: 100%;
  transform: translate3d(0, 0, 0);
  z-index: 4;
  background-position: 0 -725px;
}

.nav-sprite {
  padding-left: 1px;

  display: flex;
  position: static;
  float: none;
  flex-flow: row nowrap;
  /* background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/gno/sprites/nav-sprite-global-2x-hm-dsk-reorg._CB405936311_.png);
  background-size: 350px;
  background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png);
  background-position: 0 1000px;
  background-repeat: repeat-x; */

  background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/gno/sprites/nav-sprite-global-2x-hm-dsk-reorg._CB405936311_.png);
  background-size: 350px;
}

.nav-left {
  margin-right: 0;
  padding: 0 8px;
  height: 100%;
  border-radius: 2px;
}

.nav-left:hover {
  border: 1px solid white;
}

.nav-left > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#nav-hamburger-menu .hm-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: static;
  float: none;
  align-items: center;
  width: auto;
  height: auto;
  border: none;
  text-decoration: none;
  padding: 8px 9px 8px 9px;
  margin: 5px 0 6px 0;
  font-size: 25px;
  color: #fff;
  border-radius: 3px;
}

.hm-icon {
  width: 17px;
  height: 14px;
  background-position: -172px -255px;
  display: flex;
  position: static;
  float: none;
}

.hm-icon-label {
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  padding-left: 5px;
  white-space: nowrap;
}

.nav-fill {
  /* border: 1px solid white; */
  max-height: 39px;
  flex: 1 1 auto;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  /* padding-left: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.nav-fill:hover {
  border: 1px solid white;
}

.nav-fill > a {
  color: #fff;
}

.nav-a {
  scroll-margin: 0;
  box-sizing: content-box;
  color: #fff;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
}
